# Untracked directories
.idea/
deploy/
build/
tmp/
doc/build/
.idea/*
.idea/*.*
deploy/*
temp/
*/temp/
doc/build/*
vrtbuilder/ui/resources.py
vrtbuilder/externals/qps/qpsresources.py
tests/outputs
tests/outputs/*
test-reports.txt
test-results/
qgisresources/
qgisresources/*
qgisresources.zip
*_rc.py
qps/qpsresources.py
qgisresources
enmapboxtestdata/
testdata/
test-reports/

*.gpkg-shm
*.gpkg-wal

# Untrack compiled files
*.pyc 
*.pyd

#are changed all the time, should be commited explicitely
*.cache/
*.cache/*
