# Untracked directories
.idea/
deploy/
build/
tmp/
doc/build/
.idea/*
.idea/*.*
deploy/*
temp/
*/temp/
.coverage
doc/build/*
vrtbuilder/ui/resources.py
vrtbuilder/externals/qps/qpsresources.py
qps/enmap*.*
qps/enmap.tif
qps/enmap.tif.aux.xml
tests/outputs
tests/outputs/*
test-reports.txt
test-results/
qgisresources/
qgisresources/*
qgisresources.zip
*_rc.py
.coverage
qps/qpsresources.py
qgisresources
enmapboxtestdata/
testdata/
test-reports/
test-outputs/

*.gpkg-shm
*.gpkg-wal

# Untrack compiled files
*.pyc 
*.pyd

#are changed all the time, should be commited explicitely
*.cache/
*.cache/*
