# depending on your system it might be necessary to install required package with package installers others than pip
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
# see https://www.python.org/dev/peps/pep-0440/#version-specifiers
###### Requirements ######

gdal
numpy>=1.15
scipy>=1.1
scikit-learn>=0.19.2

# unit testing only
nose2
unittest-xml-reporting

matplotlib>=3.0

# git+https://github.com/pyqtgraph/pyqtgraph

