name: Check URLs

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: urls-checker
      uses: urlstechie/urlchecker-action@master
      with:
        # A subfolder or path to navigate to in the present or cloned repository
        # subfolder: docs

        # A comma-separated list of file types to cover in the URL checks
        file_types: .md,.py,.rst

        # Choose whether to include file with no URLs in the prints.
        print_all: false

        # The timeout seconds to provide to requests, defaults to 5 seconds
        timeout: 5

        # How many times to retry a failed request (each is logged, defaults to 1)
        retry_count: 1

        exclude_files:
          qps/pyqtgraph

        # A comma separated links to exclude during URL checks
        exclude_urls:
          http://mrcc.com/qgis.dtd
          https://github.com/EnMAP-Box/qgispluginsupport.git@master#egg=qps
        # A comma separated patterns to exclude during URL checks
        exclude_patterns:


          # https://github.com/SuperKogito/Voice-based-gender-recognition/issues

        # choose if the force pass or not
        force_pass : false